@import "../css/variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--color-bg);
}

.layout {
  display: flex;
  height: calc(100vh - var(--navbar-height)); /* desconta a altura da navbar */
}
