:root {
  --color-primary: #112239;
  --color-bg: #f4f7f9;

  /* components */
  --color-bg-nav: #00305f;
  --color-bg-side-menu: #eef8f9;
  --color-txt-menu: #5a7280;
  --color-bg-menu: #eef8f9;
  --color-menu-border-left: #3aecff;
  --navbar-height: 7vh;

  /* telas */
  --color-border-default: #dce8ec;
  --color-cards-dashboard: #1a2b35;
}
