@import "../style.css";
@import "../variables.css";

nav {
  color: white;
  background-color: var(--color-bg-nav);

  height: 10vh;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: clamp(35px, 1.5vw, 22px);
  font-weight: 600;
}

.navbar-logo {
  height: 80px;
  width: auto;
}
