@import "../style.css";
@import "../variables.css";

nav {
  color: white;
  background-color: var(--color-bg-nav);

  height: var(--navbar-height);
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: clamp(40px, 1.5vw, 50px);
  font-weight: 600;
}

.navbar-logo {
  height: 80px;
  width: auto;
}

.menu-icon {
  display: none;
}

/* RESPONSIVO */
@media (max-width: 1000px) {
  nav {
    padding: 0 1rem;
  }

  h1 {
    font-size: clamp(25px, 2vw, 50px);
  }

  .navbar-logo {
    display: none;
  }

  .menu-icon {
    display: block;
    height: 30px;
  }
}
